!bin/.gitignore
!out/.gitignore
!packages/.gitignore
src/SolutionVersion.cs
[Oo]bj
[Bb]in
[Dd]ebug
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
SolutionVersion.cs
*.orig
**.BASE*
*.REMOTE*
*.LOCAL*
*/log.txt
build_output/
code_drop/
bin/
packages/
out/
*.tmp_proj
.nuget/NuGet.targets
.vs/
artifacts
.idea/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
/Hermes.Connectors/Hermes.Connectors.sln
